# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build cache/output
*.tsbuildinfo
dist/
build/

# WebdriverIO / Allure artifacts
allure-results/
allure-report/
.errorShots/
reports/
.tmp/

# Appium/media logs
*.mp4
*.trace
appium.log

# OS junk files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Local env files
.env
.env.*

